.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 48%;
    border-width: 1px;
    border-style: solid;
    border-color: var(--clr-grey);
    border-radius: 10px;
    margin: 20px 0;
}
.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 26px;
    font-size: var(--fnt-sz-s);
    font-weight: 300;
    color: #3b3b3b;
    background: #ffffff;
    cursor: pointer;
}
.custom-options {
    position: absolute;
    display: block;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    border: 1px solid var(--clr-grey);
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    border-radius: 10px;
}
.custom-option:first-of-type {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.custom-option:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: var(--clr-light-blue);
}
.custom-option.selected {
    color: #ffffff;
    background-color: var(--clr-main);
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::after {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid black;
    transition: transform 0.5s;
    left: 5px;
    transform: rotate(-180deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(0);
}
