* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    z-index: 10;
}

body {
    min-height: 100vh;
    position: relative;
    z-index: -2;
}

main {
    min-height: calc(100vh - 100px);
    position: relative;
    z-index: 0;
    background-color: var(--clr-white);
}

:root {
    --clr-main: #4D6CB8;
    --clr-white: #FFFFFF;
    --clr-light-blue: #D6D9EE;
    --clr-dark-blue: #202E50;
    --clr-orange: #FFA700;
    --clr-invalid-red: #CB6B6B;
    --clr-grey: #8B8686;
    --fnt-sz-xxl: 60px;
    --fnt-sz-xl: 50px;
    --fnt-sz-l: 40px;
    --fnt-sz-m: 30px;
    --fnt-sz-s: 20px;
    --fnt-sz-xs: 15px;
    --fnt-sz-xxs: 10px;
    --pdng-main: 150px;
}

/************************************
STYLING NAV
************************************/

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white);
    position: relative;
    z-index: 1;
}

.nav__wrapper {
    width: 100%;
    max-width: 1680px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding: 0 var(--pdng-main);
}

.nav__link {
    height: 100%;
}

.nav__logo {
    height: 90%;
}

.nav__hamburger {
    width: 90px;
    height: 90px;
    margin: 5px;
    display: none;
    float: right;
    background-color: var(--clr-light-blue);
}

.nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
    width: 450px;
}

.nav__packages-dropdown {
    font-size: var(--fnt-sz-s);
    font-weight: bold;
    cursor: pointer;
}

.nav__packages-dropdown::after {
    content: '\25BE';
    margin-left: 10px;
}

.nav__dropdown {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    top: calc( 100% - var(--fnt-sz-s));
    max-height: 0;
}

.nav__dropdown-item {
    text-decoration: none;
    font-size: var(--fnt-sz-s);
    font-weight: 500;
}

.nav__login-btn {
    font-size: var(--fnt-sz-s);
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.nav__register-btn {
    font-size: var(--fnt-sz-s);
    font-weight: bold;
    background-color: var(--clr-orange);
    color: var(--clr-white);
    border: none;
    border-radius: .5em;
    padding: .25em .5em;
    cursor: pointer;
}

.nav__shopping-cart {
    cursor: pointer;
    height: 40%;
    padding: 10px;
}

/************************************
STYLING HOMEPAGE
************************************/

.slider {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-main);
}

.slider__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
    height: 75%;
}

.carousel-cell {
    width: 80%;
    margin: 0 10%;
}

.flickity-viewport {
    height: 100% !important;
}

.flickity-button {
    background: transparent !important;
}

.flickity-button-icon {
    fill: white !important;
}

.dot {
    background-color: #fff !important;
    opacity: 1 !important;
    width: 18px !important; 
    height: 18px !important;
}

.dot.is-selected {
    background-color: #202E50 !important;
}

.about,
.overview,
.checkout,
.address-data,
.billing-details,
.how,
.privacy-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-white);
}

.about__wrapper {
    width: 100%;
    max-width: 1680px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: var(--fnt-sz-s) var(--pdng-main);
}

.about__card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--fnt-sz-s);
}

.about__img {
    height: 60px;
}

.about__title {
    font-size: var(--fnt-sz-m);
    font-weight: bold;
    padding: .7em 0;
}

.about__text {
    font-size: var(--fnt-sz-s);
    font-weight: 300;
    text-align: center;
}

.top-picks,
.more-packages {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-main);
}

.more-packages {
    background-color: var(--clr-white);
}

.top-picks__wrapper,
.more-packages__wrapper,
.overview__wrapper,
.checkout__wrapper,
.address-data__wrapper,
.how__wrapper,
.how__wrapper--link,
.who__wrapper,
.billing-details__wrapper,
.privacy-policy__wrapper {
    width: 100%;
    max-width: 1680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: var(--fnt-sz-s) var(--pdng-main);
}

.top-picks__title,
.more-packages__title,
.more-packages__bottom-title,
.more-packages__bottom-button {
    font-size: var(--fnt-sz-xl);
    color: var(--clr-white);
    margin: var(--fnt-sz-s) 0;
}

.more-packages__bottom-title,
.more-packages__bottom-button {
    font-size: var(--fnt-sz-l);
}

.more-packages__title,
.more-packages__bottom-title {
    color: var(--clr-main);
}

.more-packages__bottom-button {
    background-color: var(--clr-orange);
    padding: .4em 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: .5em;
    border: none;
}

.top-picks__cards-wrapper,
.more-packages__cards-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--fnt-sz-s) var(--pdng-main);
    width: 100%;
    max-width: 1680px;
    flex-wrap: wrap;
}

.top-picks__card,
.more-packages__card {
    width: 300px;
    background-color: var(--clr-white);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: transform 200ms ease, box-shadow 200ms ease;
    margin-bottom: var(--fnt-sz-xxl);
}

.more-packages__card {
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 20, .3);
    margin-right: 80px;
}

.more-packages__card:nth-child(3n) {
    margin-right: 0;
}

.top-picks__card:hover,
.more-packages__card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 12px 10px rgba(0, 0, 0, .3);
}

.more-packages__card:hover {
    box-shadow: 4px 4px 15px 4px rgba(0, 0, 20, .4);
}

.top-picks__card-img,
.more-packages__card-img {
    height: 250px;
    width: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
}

.top-picks__card-inner,
.more-packages__card-inner {
    padding: var(--fnt-sz-xs);
    box-sizing: border-box;
}

.top-picks__card-title,
.more-packages__card-title {
    font-size: var(--fnt-sz-m);
    font-weight: bold;
    margin: 10px 0;
}

.top-picks__card-text,
.more-packages__card-text {
    font-size: var(--fnt-sz-xs);
    font-weight: 300;
}

.top-picks__card-price,
.more-packages__card-price,
.package-info__price-price,
.shopping-cart__price-price {
    text-transform: uppercase;
    font-size: var(--fnt-sz-xs);
    font-weight: 300;
    margin-top: 10px;
}

.top-picks__card-amount,
.more-packages__card-amount,
.package-info__price-amount,
.shopping-cart__price-amount {
    font-size: var(--fnt-sz-s);
    color: var(--clr-main);
    margin-right: 6px;
}

.top-picks__card-amount sup,
.more-packages__card-amount sup,
.package-info__price-amount sup,
.shopping-cart__price-amount sup,
.pick-size__price sup {
    font-size: var(--fnt-sz-xxs);
    vertical-align: 60%;
}

.shopping-cart__price-amount {
    margin-right: 0;
}

/************************************
STYLING PRODUCTPAGE
************************************/

.error {
    width: 90%;
    max-width: 300px;
    border: 3px solid var(--clr-invalid-red);
    border-radius: 1em;
    color: var(--clr-white);
    background-color: var(--clr-orange);
    height: 150px;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.error a {
    color: var(--clr-invalid-red);
}

.package-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-main);
}

.package-header__wrapper,
.package-info__wrapper {
    position: relative;
    width: 100%;
    max-width: 1680px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 80px var(--pdng-main) var(--fnt-sz-s) var(--pdng-main);
    /* background-color: red; */
}

.package-header__share {
    position: absolute;
    top: 30px;
    right: var(--pdng-main);
    font-size: var(--fnt-sz-xl);
    color: var(--clr-white);
    cursor: pointer;
}

.package-header__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.package-header__img {
    height: 300px;
    width: 250px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, .1);
    background-color: var(--clr-white);
    border-radius: 10px;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    margin-right: 20px;
}

.package-header__info-title,
.package-header__list-item {
    font-size: var(--fnt-sz-l);
    color: var(--clr-white);
}

.package-header__info-title {
    font-weight: 700;
    margin-bottom: 15px;
}

.package-header__list-item {
    font-weight: bold;
    margin: 10px 0 10px 25px;
    font-size: var(--fnt-sz-m);
}

.package-header__btn {
    position: absolute;
    right: 0;
    background-color: var(--clr-orange);
    color: var(--clr-white);
    font-size: var(--fnt-sz-m);
    padding: .4em 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: .5em;
    border: none;
    text-decoration: none;
    margin-top: 10px;
}

.package-header__shopping-cart {
    background-image: url('../images/arrow.svg');
    fill: var(--clr-white);
    background-position: center;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-color: var(--clr-orange);
    height: 60px;
    width: 60px;
    padding: 25px;
    border-radius: 50%;
    position: absolute;
    right: var(--pdng-main);
    bottom: -55px;
}

.package-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.package-info__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--pdng-main);
    align-items: flex-start;
    background-color: var(--clr-white);
}

.package-info__wrapper h3 {
    font-size: var(--fnt-sz-l);
}

.package-info__wrapper p,
.package-info__wrapper li {
    font-size: calc(var(--fnt-sz-s) + 5px );
    font-weight: 700;
    color: var(--clr-grey);
    width: 95%;
}

.package-info__wrapper ul {
    margin-left: 25px;
}

.package-info__price-price,
.package-info__price-amount {
    color: var(--clr-main);
    font-weight: 700;
    font-size: var(--fnt-sz-l);
}

.package-info__price-amount sup {
    font-size: var(--fnt-sz-s);
}

/************************************
STYLING ACCOUNT PAGE
************************************/

/************************************
STYLING FOOTER
************************************/

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-main);
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: -2;
}

.footer__wrapper {
    width: 100%;
    max-width: 1680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    padding: 0 var(--pdng-main);
}

.footer__top,
.footer__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--fnt-sz-l) 0;
}

.footer__logo {
    background-image: url('../images/GameWave-Logo.jpg');
    background-position: center;
    background-size: 90px 90px;
    background-repeat: no-repeat;
    background-color: var(--clr-white);
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.footer__form,
.forgot-pass__form {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, .1);
}

.forgot-pass__form {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.footer__form-input,
.forgot-pass__form-input {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    padding: var(--fnt-sz-s);
    font-size: var(--fnt-sz-m);
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline: none;
    border: 3px solid var(--clr-white);
}

.footer__form-input:focus,
.forgot-pass__form-input:focus {
    border-color: var(--clr-dark-blue) !important;
}

.footer__form-input::placeholder,
.forgot-pass__form-input::placeholder {
    opacity: .2;
    color: var(--clr-main);
}

.footer__form-button,
.forgot-pass__form-button {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    font-size: calc(var(--fnt-sz-m) - 5px);
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--clr-orange);
    color: var(--clr-white);
    font-weight: 600;
    cursor: pointer;
}

.footer__bottom {
    align-items: flex-start;
    padding-top: 0;
}

.footer__list {
    list-style-type: none;
    font-size: var(--fnt-sz-s);
    color: var(--clr-white);
}

.footer__list-item:first-child {
    font-weight: 600;
    font-size: calc(var(--fnt-sz-s) + 5px );
}

.footer__list-item {
    margin-bottom: 4px;
}

.footer__list-item a {
    text-decoration: none;
    color: var(--clr-white);
    position: relative;
}

.footer__list-item a::after,
.nav__login-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--clr-orange);
    transform: scaleY(0);
    bottom: -2px;
    left: 0;
    transition: transform 300ms ease;
    transform-origin: top;
}

.nav__login-btn::after {
    bottom: -4px;
    height: 3px;
    width: 120%;
    left: -10%;
}

.footer__list-item a:hover::after,
.nav__login-btn:hover::after {
    transform: scaleY(1);
}

.footer__social-icons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__social-icon {
    width: 50px;
    height: 50px;
    background-color: var(--clr-white);
    border-radius: 5px;
    color: var(--clr-main);
    font-size: var(--fnt-sz-m);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 800ms ease; 
}

.footer__social-icon:hover {
    /* background-color: var(--clr-orange); */
}

.footer__social-icon--facebook {
    font-size: var(--fnt-sz-l);
    align-items: flex-end;
    box-sizing: border-box;
    padding-left: 10px;
}

/******************************************************
STYLING MODAL LOGIN, REGISTER AND SHOPPING CART WINDOWS
******************************************************/

.login-modal,
.register-modal,
.shopping-cart-modal {
    display: none;
}

.login-modal__background,
.register-modal__background,
.shopping-cart-modal__background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.login-modal__modal,
.register-modal__modal,
.shopping-cart-modal__modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    height: 500px;
    width: 500px;
    background-color: var(--clr-white);
    box-sizing: border-box;
    padding: 0 var(--fnt-sz-l);
    border-radius: 10px;
}

.register-modal__modal {
    height: 650px;
}

.shopping-cart-modal__modal {
    height: initial;
    width: 100%;
    max-width: 500px;
    top: 0;
    right: 0;
    left: auto;
    transform: translate(0, 0);
    border-radius: 0;
    padding: 0;
}

.login-modal__modal-logo,
.register-modal__modal-logo {
    height: 100px;
    width: 100px;
}

.login-modal__modal-text,
.register-modal__modal-text {
    font-size: 25px;
    color: var(--clr-grey);
    font-weight: 300;
    padding: 0 20px;
    box-sizing: border-box;
}

.register-modal__modal-text {
    font-size: var(--fnt-sz-s);
}

.login-modal__modal-input,
.login-modal__modal-button,
.register-modal__modal-input,
.register-modal__modal-button,
.shopping-cart__button,
.add-to-cart__button,
input[type="date"],
.overview__button,
.checkout__button,
.billing-details__button,
.how__button {
    width: 90%;
    height: var(--fnt-sz-m);
    font-size: var(--fnt-sz-s);
    border-radius: 15px;
    border: 1px solid var(--clr-grey);
    padding: .5em 0 .5em 1.5em;
    box-sizing: initial;
    color: #000;
}

.login-modal__modal-button,
.register-modal__modal-button,
.shopping-cart__button,
.add-to-cart__button,
.overview__button,
.checkout__button,
.billing-details__button,
.how__button {
    background-color: var(--clr-orange);
    color: var(--clr-white);
    padding: .5em .75em;
    border-color: var(--clr-orange);
    cursor: pointer;
}

.login-modal__forgot-password,
.register-modal__sign-in,
.address-data__edit,
.how__back {
    font-size: var(--fnt-sz-s);
    color: #000;
    text-decoration: none;
    font-weight: 400;
    position: relative;
}

.login-modal__forgot-password::after,
.register-modal__sign-in::after,
.address-data__edit:after,
.how__back:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--clr-orange);
    transition: transform 300ms ease;
    transform-origin: top;
}

.login-modal__forgot-password:hover::after,
.register-modal__sign-in:hover::after,
.address-data__edit:hover::after,
.how__back:hover::after {
    transform: scaleY(2.5);
}

.register-modal__bottom-text {
    font-size: var(--fnt-sz-s);
    color: var(--clr-grey);
    font-weight: 300;
}

.shopping-cart__modal-header {
    box-shadow: 0 5px 5px var(--clr-grey);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 30px;
}

.shopping-cart__modal-title {
    font-size: var(--fnt-sz-l);
}

.shopping-cart__modal-close {
    font-size: var(--fnt-sz-s);
    font-weight: 600;
    color: var(--clr-grey);
    cursor: pointer;
}

.shopping-cart__item {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--clr-grey);
}

.shopping-cart__item-info {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.shopping-cart__item-title {
    font-size: var(--fnt-sz-s);
}

.shopping-cart__item-img {
    height: 120%;
    margin-left: 30px;
}

.shopping-cart__delete {
    height: 30%;
    margin-right: 30px;
    cursor: pointer;
}

.shopping-cart__total {
    box-sizing: border-box;
    padding: 30px 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.shopping-cart__total-text {
    font-size: var(--fnt-sz-m);
}

.shopping-cart__total .shopping-cart__price-price,
.shopping-cart__total .shopping-cart__price-amount {
    font-size: var(--fnt-sz-s);
    font-weight: 600;
}

.shopping-cart__button,
.overview__button,
.checkout__button,
.billing-details__button,
.how__button {
    width: 50%;
    margin: 20px;
    text-decoration: none;
    text-align: center;
}

/************************************
FORGOT PASSWORD PAGE
************************************/

.forgot-pass__line,
.checkout__line {
    height: 3px;
    width: 100%;
    background-color: var(--clr-main);
    border: none;
}

.forgot-pass__title,
.forgot-pass__text {
    text-align: center;
}

.forgot-pass__title {
    font-size: var(--fnt-sz-xl);
    margin: 1em 0 .7em 0;
}

.forgot-pass__text {
    font-size: var(--fnt-sz-m);
    font-weight: 300;
    margin-bottom: 2em;
}



/************************************
PRODUCT CHOICE PAGE
************************************/
.pick-size,
.pick-extra,
.pick-duration,
.add-to-cart {
    width: 100%;
    background-color: var(--clr-main);
    display: flex;
    justify-content: center;
}

.pick-extra,
.add-to-cart {
    background-color: var(--clr-white);
}

.pick-size__wrapper,
.pick-extra__wrapper,
.pick-duration__wrapper,
.add-to-cart__wrapper {
    box-sizing: border-box;
    padding: 25px var(--pdng-main);
    width: 100%;
    max-width: 1680px;
    /* background-color: var(--clr-main); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pick-size__title,
.pick-extra__title,
.pick-duration__title,
.add-to-cart__title {
    font-size: var(--fnt-sz-l);
    color: var(--clr-white);
    position: relative;
    margin-bottom: 40px;
}

.pick-extra__title,
.add-to-cart__title {
    color: var(--clr-main);
}

.pick-size__title::after,
.pick-extra__title:after,
.pick-duration__title::after,
.add-to-cart__title::after {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -4px;
    background-color: var(--clr-white);
    left: 0;
}

.pick-extra__title::after,
.add-to-cart__title::after {
    background-color: var(--clr-main);
}

.pick-size__flex,
.pick-extra__flex,
.pick-duration__flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.pick-duration__flex {
    margin-bottom: 60px;
}

.pick-size__flex label,
.pick-extra__flex label,
.pick-duration__flex label {
    width: 20%;
    max-width: 300px;
}

.pick-size__card,
.pick-extra__card,
.pick-duration__card {
    background-color: var(--clr-white);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, .2);
    cursor: pointer;
    margin-bottom: 10px;
}

.pick-size__img,
.pick-extra__img,
.pick-duration__img {
    width: 80%;
    border-radius: 10px;
    margin: 30px 0 10px 0;
}

.pick-size__card .pick-size__title,
.pick-extra__card .pick-extra__title,
.pick-duration__card .pick-duration__title {
    color: #000;
    font-size: var(--fnt-sz-s);
    margin: 10px 0 20px 0;
}

.pick-extra__card .pick-extra__title:after {
    width: 0;
}

.pick-size__check,
.pick-extra__check,
.pick-duration__check {
    display: none;
}

.pick-size__checkbox,
.pick-extra__checkbox,
.pick-duration__checkbox {
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
}

.pick-size__checkmark,
.pick-extra__checkmark,
.pick-duration__checkmark {
    width: 26px;
    height: 18px;
    transform: rotate(-45deg);
    border-bottom: 7px solid var(--clr-orange);
    border-left: 7px solid var(--clr-orange);
    position: absolute;
    bottom: 12px;
    left: 2px;
    display: none;
}

.pick-size__check:checked + .pick-size__checkbox .pick-size__checkmark,
.pick-extra__check:checked + .pick-extra__checkbox .pick-extra__checkmark,
.pick-duration__check:checked + .pick-duration__checkbox .pick-duration__checkmark {
    display: block;
}

.pick-size__price,
.pick-extra__price {
    text-align: center;
    color: var(--clr-white);
    margin-bottom: 20px;
}

.pick-size__price sup,
.pick-extra__price sup {
    vertical-align: 20%;
}

.pick-size__info,
.pick-extra__info,
.pick-duration__info,
.add-to-cart__info {
    background-color: var(--clr-white);
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.pick-extra__info,
.add-to-cart__info {
    background-color: var(--clr-main);
}

.pick-size__info-title,
.pick-extra__info-title,
.pick-duration__info-title,
.add-to-cart__info-title {
    margin-bottom: 7px;
    font-size: var(--fnt-sz-s);
}

.pick-size__info-text,
.pick-extra__info-text,
.pick-duration__info-text,
.add-to-cart__info-text {
    font-size: var(--fnt-sz-s);
    font-weight: 300;
}

.pick-extra__info-title,
.pick-extra__info-text,
.add-to-cart__info-title,
.add-to-cart__info-text {
    color: var(--clr-white);
}

.pick-extra__wrapper {
    background-color: var(--clr-white);
}

.pick-extra__checkbox {
    border-radius: 5px;
}

.pick-extra__price {
    color: #000;
    margin-bottom: 40px;
}

.pick-extra__price sup {
    vertical-align: 10%;
}

.pick-extra__size {
    width: 80%;
    max-width: 550px;
}

.pick-extra__size-gender {
    width: 100%;
    display: flex;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.pick-extra__size-gender label {
    width: 50%;
    position: relative;
}

.pick-extra__gender-box {
    display: none;
}

.pick-extra__gender {
    padding: 20px;
    text-align: center;
    z-index: 5;
    position: relative;
    color: var(--clr-main);
    cursor: pointer;
}

.pick-extra__gender.mens {
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pick-extra__gender.womans {
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pick-extra__arrow {
    display: none;
    width: 40px;
    height: 40px;
    transform: rotate(-45deg) translateX(-50%);
    background-color: var(--clr-main);
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 4;
}

.pick-extra__gender-box:checked + .pick-extra__gender {
    background-color: var(--clr-main);
    color: var(--clr-white);
    border: none;
}

.pick-extra__gender-box:checked + .pick-extra__gender + .pick-extra__arrow {
    display: block;
}

.pick-extra__size-size {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, .2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 40px;
}

.pick-extra__size-box {
    display: none;
}

.pick-extra__size-symbol {
    padding: 1em;
    border-radius: 5px;
    color: var(--clr-main);
    width: 30px;
    text-align: center;
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.pick-extra__size-box:checked + .pick-extra__size-symbol {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.add-to-cart__info {
    margin: 60px 0;
}

.add-to-cart__button {
    max-width: 300px;
}


/************************************
PRODUCT CHECKOUT PAGES
************************************/
.overview {
    flex-direction: column;
}

.overview__title {
    width: 100%;
    text-align: left;
}

.overview__grid {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

.overview .top-picks__card {
    margin: 0 40px 0 0;
    cursor: default;
}

.overview .top-picks__card:hover {
    transform: scale(1);
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, .1);
}

.overview__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--fnt-sz-m);
}

.overview__price {
    font-size: var(--fnt-sz-m);
}

.overview__price-amount {
    font-weight: 300;
}

.overview__price sup {
    vertical-align: 50%;
    font-size: var(--fnt-sz-xs);
}

.overview__button {
    justify-self: flex-end;
}

.checkout__wrapper,
.address-data__wrapper,
.billing-details__wrapper {
    align-items: flex-start;
}

.address-data__wrapper {
    padding: 0 var(--pdng-main);
}

.checkout__title,
.address-data__title,
.overview__title {
    margin: 20px 0 5px 0;
    font-size: var(--fnt-sz-l);
}

.checkout__form-wrapper,
.address-data__div,
.billing-details__wrapper-div,
.overview__wrapper-div {
    width: 100%;
    border: 1px solid var(--clr-grey);
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, .2);
    margin: 40px 0;
    box-sizing: border-box;
    padding: 20px;
}

.billing-details__wrapper-div {
    display: flex;
    flex-direction: column;
}

.checkout__form-title,
.address-data__div-title,
.billing-details__title,
.overview__div-title {
    background-color: var(--clr-main);
    margin: -21px;
    padding: 10px 21px;
    margin-bottom: 20px;
    font-size: var(--fnt-sz-m);
    color: var(--clr-white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.checkout__form {
    display: flex;
    flex-direction: column;
}

.checkout__name,
.checkout__city-wrapper,
.credit-details__name,
.credit-details__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.checkout__first-name,
.checkout__last-name,
.checkout__city,
.checkout__postal-code,
.credit-details__first-name,
.credit-details__last-name {
    width: 48%;
}

.credit-details__bottom input {
    width: 32%;
}

.checkout input,
.credit-details input {
    box-sizing: border-box;
    padding: 12px 32px;
    border: 1px solid var(--clr-grey);
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: var(--fnt-sz-s);
    outline: none;
}

.checkout input:focus,
.credit-details input:focus {
    border-color: var(--clr-dark-blue);
}

.checkout__button,
.billing-details__button {
    max-width: 300px;
    align-self: flex-end;
    margin-right: 0;
}

.address-data__div:first-of-type {
    margin-bottom: 0;
}

.address-data__text:first-of-type {
    margin: 10px 0;
}

.address-data__div-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address-data__edit {
    color: var(--clr-white);
    margin-bottom: 0;
}

.address-data__text {
    font-size: var(--fnt-sz-s);
    line-height: 28px;
}

.billing-details__payment-methods {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.billing-details__payment-method {
    box-sizing: border-box;
    width: 48%;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px 30px;
    border: 2px solid var(--clr-grey);
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.billing-details__payment-method-img {
    height: 100%;
}

.billing-details__payment-method-title {
    margin: 0 auto;
    font-size: var(--fnt-sz-m);
    font-weight: 300;
}

.credit-details {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.credit-details__cart-number {
    width: 100%;
}

.paypal-details,
.ideal-details {
    font-size: var(--fnt-sz-m);
    font-weight: 300;
}

input[type="date"] {
    outline: none;
    max-width: 300px;
}

input[type="date"]:focus {
    border-color: var(--clr-dark-blue);
}

/************************************
HOW IT WORKS & WHO WE ARE PAGES
************************************/
.how,
.privacy-policy {
    flex-direction: column;
}

.how__title,
.who__title,
.privacy-policy__title {
    width: 100%;
    text-align: center;
    font-size: var(--fnt-sz-xl);
    color: var(--clr-white);
    padding: 1.2em 0;
    background-color: var(--clr-main);
}

.how__wrapper--link {
    align-items: flex-end;
    margin: 0 auto;
}

.how__wrapper,
.who__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    margin: 0 auto;
}

.who__wrapper {
    padding: 100px var(--pdng-main);
}

.how__box,
.who__box {
    background-color: var(--clr-main);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .3);
    height: 400px;
    width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.who__box {
    height: 100%;
}

.how__step,
.who__box-title {
    text-align: center;
    color: var(--clr-white);
    font-size: var(--fnt-sz-l);
    font-weight: 600;
}

.how__text,
.who__box-text {
    color: var(--clr-white);
    font-size: var(--fnt-sz-m);
    font-weight: 300;
    margin: auto 0;
}

.how__button {
    max-width: 400px;
    margin: 60px auto;
}

.who__box-text {
    margin-top: 20px;
}

.privacy-policy__wrapper p {
    font-size: var(--fnt-sz-s);
}

@media screen and (max-width: 1500px) {
    .more-packages__card {
        margin-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    .footer__form {
        width: 75%;
    }

    .package-header__wrapper {
        min-height: 400px;
    }

    .package-header__info {
        margin: auto 0;
    }

    .package-header__img {
        height: 220px;
        width: 180px;
    }

    .package-header__info-title {
        font-size: var(--fnt-sz-m);
    }

    .package-header__list-item {
        font-size: var(--fnt-sz-s);
    }

    .how__wrapper,
    .who__wrapper {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --pdng-main: 50px;
    }
    footer {
        position: relative;
    }
    .footer__top {
        flex-direction: column;
    }
    .footer__form {
        height: 40px;
        margin-top: 40px;
    }
    .footer__form-input,
    .footer__form-button {
        font-size: var(--fnt-sz-s);
    }
    .footer__bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer__list {
        text-align: center;
    }
    .footer__social-icons {
        grid-column: 1/3;
        width: 80%;
        margin: 0 auto;
        margin-top: 40px;
    }
}


@media screen and (max-width: 768px) {
    .nav__wrapper {
        display: block;
        padding: 0;
    }

    .nav__logo {
        display: inline-block;
        width: 90px;
        height: 90px;
        margin: 5px;
    }

    .nav__hamburger {
        display: inline-block;
    }

    .nav__inner {
        flex-direction: column-reverse;
        width: 100vw;
        overflow: hidden;
        height: auto;
        max-height: 0;
        background-color: var(--clr-white);
        transition: max-height 300ms ease;
        transform: translateY(-10px);
    }

    .nav__inner--open {
        max-height: 222px !important;
    }

    .nav__shopping-cart {
        height: 60px;
        margin-bottom: var(--fnt-sz-s);
    }

    .nav__login-btn,
    .nav__register-btn,
    .nav__packages-dropdown {
        margin-bottom: var(--fnt-sz-s);
    }

    .nav__packages-dropdown::after {
        content: '';
    }

    .about__wrapper {
        align-items: center;
        flex-direction: column;
    }

    .about__card {
        width: 100%;
        margin-top: 20px;
    }

    .top-picks__cards-wrapper,
    .more-packages__cards-wrapper {
        align-items: center;
        flex-direction: column;
    }

    .top-picks__card,
    .more-packages__card {
        max-width: 320px;
    }

    .top-picks__title,
    .more-packages__title {
        font-size: var(--fnt-sz-l);
    }

    .more-packages__bottom-title,
    .more-packages__bottom-button {
        font-size: var(--fnt-sz-m);
    }

    .more-packages__bottom-title {
        text-align: center;
    }

    .more-packages__bottom-button {
        margin: var(--fnt-sz-s);
        padding: .5em .7em;
    }

    .package-header__info {
        flex-direction: column;
    }

    .package-header__img {
        height: 300px;
        width: 250px;
        margin-bottom: 20px;
    }

    .package-header__shopping-cart {
        height: 40px;
        width: 40px;
    }

    .package-info__wrapper {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    .package-info__price {
        grid-row: 1/2;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    :root {
        --pdng-main: 20px;
    }

    .about__title {
        font-size: var(--fnt-sz-s);
    }

    .top-picks__card,
    .more-packages__card {
        max-width: 280px;
    }

    .more-packages__bottom-title {
        font-size: var(--fnt-sz-s);
    }

    .more-packages__bottom-button {
        margin: 0;
        font-size: var(--fnt-sz-s);
    }

    .footer__form {
        width: 100%;
        max-width: 300px;
    }
    .footer__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__list {
        margin-bottom: 20px;
    }

    .footer__social-icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 50px;
        margin-top: 20px;
    }
    .footer__social-icon {
        margin: auto;
    }

    .how__box {
        width: 100%;
    }
}